body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bed2e0;
}
input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}

main {
    position: relative;
    top:40%;
    left:35%;
    width: 30%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
}
@media only screen and (max-width:600px){
    main{
        width:auto;
        top:25%;
        left:0%;
        border:0px;
        padding: 10px;
    }
}