body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bed2e050;
}
a{
    text-decoration: none;
    color:#2e4054;
}
.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #bed2e0;
}
.tab button{
    background-color: inherit;
    float: left;
    width: 50%;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button.active{
    background-color: #2e4054;
    color:#bed2e0;
}
.tabContent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
input[type=password], input[type=text],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
 
input[type=submit] {
    width: 100%;
    background-color: #2e4054;
    color: #bed2e0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
.col{
    float: left;
    width: 50%;
    text-align: center;
}

main {
    position: relative;
    top:40%;
    left:35%;
    width: 30%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 0px;
    margin-bottom: 20px;
}
.clearfix{
    padding:0 18px;
    display:block;
    background-color:#e5e5e5;
    overflow:hidden;
    border-radius: 10px;
}
#myday{
    border-collapse:collapse;
    width:100%;
}
#myday td,#myday th{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
    background-color:#bed2e0;
    color:#2e4054;
}
@media only screen and (max-width:600px){
    main{
        width:auto;
        top:25%;
        left:0%;
        border:0px;
        padding: 10px;
    }
}