*{box-sizing:border-box;}
body{font-family:Tahoma,Geneva, sans-serif;
background-color:#bed2e0;}
.menu{
    float:left;
    width:20%;
    text-align:center;
}
.menuitem{
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
}
.header{
    background-color:#bed2e0;
    padding:20px;text-align:center;}
h1{color:#2e4054;}
/*.topnav{overflow:hidden;background-color:#333;}
.topnav a{
    float:left;display:block; color:#f2f2f2;text-align:center;
    padding:14px 16px; text-decoration:none;
}
.topnav a:hover{background-color:lightgray;color:blue;}*/
/*p::first-letter{color:#ff0000;font-size:xx-large;}*/
/*2 columns*/
.column{
    float:left;
    width: 50%; /*for 3 ->33.3%*/
    padding:10px;
border:0px;
}
.row:after{
    content:"";
    display:table;
    clear:both;padding:0px;
}

.bottom-left{
  border:0px;
  position:absolute;
  top:50%;/*8px;*/
  left:50%;/*16px;*/
  transform:translate(-50%,-50%);}
.container{
  border:0px;
  position:relative;
  color:#cc274c;
}
panel2,.flip{
  font-size:16px;
  padding:10px;
  text-align:center;
  background-color:#2e4054;
  color:white;
  border:solid 1px #cc274c;
  margin:auto;
}
#panel2{display:none;}
div{
  /*opacity:0.8;filter:alpha(opacity=10);*/
  border:1px solid #bed2e0;
  padding:15px;
  text-align:left;/*justify;*/
}
.clearfix::after{
  content:"";
  clear:both;
  display:table;
}
.img2{float:right;}
/*menu dropdown*/
ul{
  list-style-type:none;
  margin:0;padding:0px;
  overflow:hidden;/*border:1px solid #e7e7e7;*/
  background-color:#2e405480;/*#f3f3f3;*/
}
li{float:left;width:25%;}
li a, .dropbtn{
  display:block;/*inline-block*/
  color:#bed2e0;/*#665;*/
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
li a:hover, .dropdown:hover .dropbtn{background-color:#2e4054;}
li.dropdown{display:inline-block;}
.dropdown-content{
  display:none;
  padding:0px;
  position:absolute;
  background-color:#4caf50;
  min-width:120px;
  width:25%;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content a{
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:center;
}
.dropdown-content a:hover{background-color:#f1f1f1;}
.dropdown:hover .dropdown-content{display:block;}
/*Table schedule*/
#myday{
  border-collapse:collapse;
  width:100%;
}
#myday td,#myday th{
  border:1px solid #ddd;
  padding:10px;
  text-align:center;
  background-color:#bed2e0;
  color:#2e4054;
}
/*#myday tr:nth-child(even){background-color:#f2f2f2;}
#myday tr:hover{background-color:#ddd;}*/
/*table cols title
#myday th{
    padding-top:12px;
    padding-bottom:12px;
    text-align:left;
    background-color:#4caf50;
    color:white;
}*/
#pidd:hover{background-color:white;letter-spacing:3px;}
.accordion{
  background-color:#bed2e0;
  color:#444;
  cursor:pointer;
  padding:18px;
  width:100%;
  border:none;
  outline:none;
  font-size:18px;
  transition:0.4s;
}
.active, .accordion:hover{background-color:#cc274c;}
.accordion:after{
  content:'\02795';background-color: #bed2e0;
  font-size:15px;float:right;margin-left:5px;
}
.active:after{content:"\02796";background-color: #bed2e0;}
.panel{
  padding:0 18px;
  display:none;
  background-color:#e5e5e5;
  overflow:hidden;
}
button{/*background-color:white;#4caf50;*/
  text-align:center;
}
.copy-left{
  display:inline-block;
  text-align:right;margin:0px;
  -moz-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
  filter:FlipH;-ms-filter:"FlipH";
}
#currtime {
  /*font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;*/
  font-weight: 50;
  /*display: block;*/
  text-align: center;
  font-size: 3vw;
  padding: 4rem 0;
  color:#cc274c;
}
#currtime span {
  display: inline-block;
  font-weight: 100;
  /*font-size: 8vw;*/
  position: relative;
  /*top: -2vw;*/
}
/*Didnt work for D3JS and PHP
.bar-old{fill:#98A2A9;}
.bar-new{fill:#cc274c;}*/
/*Responsive layout to stack cols on top of each other
@media only screen and (max-width:620px){
*/
@media (max-width:800px){
    .menu, .column{width:100%;}
    li{width:100%;}
    .dropdown-content{width:50%;}
}
