/*Stylez for modal Form*/
#formNav{
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d0;
}
main {
    position: relative;
    top:20%;
    left:30%;
    width: 40%;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 0px;
    margin-bottom: 20px;
}
.formHead{
    width: 100%;
    padding: 2px 16px;
}
.closeBtn{
    color: #cc274c;
    /*float: right;*/
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
.tab{
    overflow: hidden;
    /*border: 1px solid #cc274c;*/
    background-color: #cc274c40;
    color:#2e4054;
}
.tab button{
    background-color: inherit;
    float: left;
    width: 50%;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    color: #bed2e0;
}
.tab button.active{
    background-color: #2e4054;
    color:#bed2e0;
}
.tabContent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    color: #2e4054;
}
input[type=password], input[type=text],input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
 
input[type=submit] {
    width: 100%;
    background-color: #2e4054;
    color: #bed2e0;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
}
